.btn{
    background-color: transparent;
    margin-top: 24px;
    border: 1px solid #6070FF;
    color: #396DF2;
    font: normal 500 17px 'Poppins', sans-serif;
    border-radius: 8px;
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #6070ff;
    color: #fff;
    border-radius: 8px;
  }
  
  .btn:focus {
    background-color: #2230d2;
    color: #fff;
    border-radius: 8px;
  }
  
  .btn:disabled,
  .btn[disabled] {
    border: 1px solid #5e6c84;
    background-color: transparent;
    color: #5e6c84;
    border-radius: 8px;
  }