.footer {
  background-color: #6070FF;
  border-top-left-radius: 10%;
}

.footer fieldset {
    border: none;
}

.form {
  display: flex;
  flex-direction: column;
  background-image: url(/images/form-shapes-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  padding-left: 24px;
  padding-right: 24px;
  height: 779px;
  gap: 12px;
}

.form-title {
  padding-top: 103px;
  font: normal bold 40px "Poppins", sans-serif;
  text-align: center;
  color: #fff;
}

.form-description {
  font: normal 400 20px "Poppins", sans-serif;
  color: #ebebff;
  line-height: 28px;
  text-align: center;
}

.form-btn {
  display: flex;
  align-self: flex-start;
  padding: 12px 16px;
  align-items: center;
}

.form-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.form-list li {
  display: flex;
  flex-direction: column;
}

.form-list input,
textarea {
  background: #ffffff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.form-list input {
  height: 48px;
  padding-left: 16px;
  font: normal 400 17px "Poppins", sans-serif;
  color: #172b4d;
}

.form-list textarea {
  height: 170px;
  padding-top: 15px;
  padding-left: 16px;
  font: normal 400 17px "Poppins", sans-serif;
  color: #172b4d;
}
