.hero {
  background-color: #fff;
  background-image: url("../images/header-shapes\ mobile@2x.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 48px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 80px;
}

.hero__title {
  margin-top: 100px;
  font: normal 700 40px "Poppins", sans-serif;
  line-height: 52px;
  color: #172b4d;
}

.hero__description {
  margin-top: 12px;
  font: normal 400 16px "Poppins", sans-serif;
  line-height: 24px;
  color: #172b4d;
  display: flex;
  align-items: center;
}

.hero__btn {
  background-color: transparent;
  border: none;
  font: normal 500 16px "Poppins", sans-serif;
  color: #7f8cff;
  margin-top: 12px;
  cursor: pointer;
}

.hero__btn:hover {
  background-color: #6070ff;
  color: #fff;
  border-radius: 8px;
}

.hero__btn:focus {
  background-color: #2230d2;
  color: #fff;
  border-radius: 8px;
}

.hero__btn:disabled,
.hero__btn[disabled] {
  border: 1px solid #5e6c84;
  background-color: transparent;
  color: #5e6c84;
  border-radius: 8px;
}

.hero__social {
  margin-top: 12px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 136px;
}

.hero__link {
  margin-right: 20px;
}
