.hero {
  background-color: #fff;
  width: 375px;
  height: 626px;
  background-image: url("../images/header-shapes\ mobile@2x.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom-left-radius: 15%;
}

.hero__title {
  height: 150px;
  margin-top: 140px;
  font: normal 700 40px 'Poppins', sans-serif;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  align-items: center;
}

.hero__description {
  height: 146px;
  margin-top: 12px;
  font: normal 400 16px 'Poppins', sans-serif;
  line-height: 24px;
  color: #172b4d;
  display: flex;
  align-items: center;
}

.hero__btn {
  background-color: transparent;
  border: none;
  font: normal 500 16px 'Poppins', sans-serif;
  color: #7f8cff;
  margin-top: 12px;
  cursor: pointer;
}

.hero__social {
  margin-top: 12px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero__link {
  margin-right: 20px;
}
