@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("./header.css");
@import url("./hero.css");
@import url("./works.css");
@import url("./card.css");
@import url("./button.css");
@import url("./about.css");
@import url("./form.css");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #e5e5e5;
}

@media (min-width : 768px){
 
 /*header section*/
  .header__list{
    display: flex;
    list-style: none;
  }

  .header__link a{
    text-decoration: none;
    font: normal 500 15px 'Poppins', sans-serif;
    color: #344563;
    margin-left: 32px;
  }

  .header__menu {
    display: none;
  }

/*hero section*/
  .hero {
    padding-left: 100px;
    padding-right: 100px;
    background-image: url("../images/header-bg.svg");
  }

  .hero__title {
    margin-top: 220px;
  }

  .hero__social {
    margin-bottom: 180px;
  }
}